.formNoticia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.formNoticia h1{
    grid-column:1 / span 2;
}

.url{
    grid-column: span 2;
    width: 100%;
    display:  flex;
    justify-content: center;
}

.url > input{
    width: 60%;
}

@media screen and (max-width:1298px) {
    .forma{
        width: fit-content;
    }
}

@media screen and (max-width: 1100px){
    .formNoticia{
        grid-template-columns: 1fr;
    }

    .url, .formNoticia h1{
        grid-column: span 1;
    }

    @media screen and (max-width: 800px){
        .formNoticia{
            margin-top: calc(2rem + 4.6rem);
        }

    }
}