@font-face {
  font-family: "FontCC";
  src: url(../fonts/FontCCBold.ttf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "FontCC";
  src: url(../fonts/FontCCLight.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "FontCC";
  src: url(../fonts/FontCCMedium.ttf);
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 16px;
  font-family: "FontCC", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}