:root {
  --color_de_botton: #896eff;
  --color_mas_oscuro: #6958bb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.imgBx {
  position: relative;
  width: 50%;
  height: 100%;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*********************/
.contentBx {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.contentBx .formBx {
  width: 50%;
}

.formBx h2 {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: fontCCBold;
  text-transform: uppercase;
  margin-bottom: 15px;
  border-bottom: 4px solid var(--color_de_botton);
  display: inline-block;
  letter-spacing: 1px;
}

.formBx .inputBxRegistro {
  margin-bottom: 15px;
  margin-top: 45px;
}

.formBx .inputBxRegistro span {
  font-family: fontCCLight;
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8d;
  font-weight: 300;
  letter-spacing: 1px;
}

.formBx .inputBxRegistro input {
  font-family: fontCCLight;
  width: 100%;
  padding: 10px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8d;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8d;
  background: transparent;
  border-radius: 30px;
}

.formBx .inputBxRegistro input[type="submit"] {
  background: var(--color_de_botton);
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-family: fontCCLight;
  font-size: 16px;
  letter-spacing: 1px;
  transition: ease 0.5s;
}

.formBx .inputBxRegistro input[type="submit"]:hover {
  background: var(--color_mas_oscuro);
  transition: ease 0.5s;
}

.remember {
  margin-bottom: 10px;
  color: #607d8d;
  font-family: fontCCLight;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

.formBx .inputBxRegistro p {
  color: #607d8d;
  font-family: fontCCLight;
}

.formBx .inputBxRegistro p a {
  color: var(--color_de_botton);
  font-family: fontCCLight;
  letter-spacing: 1px;
}

.error {
  color: firebrick !important;
  position: absolute;
}
.errorHidden {
  display: none;
}

/************************ Red sociales *********************/

.formBx h3 {
  color: #607d8d;
  text-align: center;
  margin: 80px 0 10px;
  font-weight: 500;
  font-family: fontCCMedium;
  letter-spacing: 1px;
}
.formBx .sci {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBx .sci li {
  list-style: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #607d8d;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
  transition: ease 0.5s;
}

.formBx .sci li:hover {
  background: var(--color_de_botton);
  transition: ease 0.5s;
}

.formBx .sci li i {
  transform: scale(1.8);
  filter: invert(1);
}

/******************************** Tamaño de pantalla  **************************/
@media (max-width: 768px) {
  .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .contentBx .formBx {
    width: 100%;
    padding: 40px;
    background-color: rgb(255 255 255 / 0.9);
    margin: 50px;
  }

  .contentBx .formBx h3 {
    color: #607d8d;
    text-align: center;
    margin: 30px 0 10px;
    font-weight: 500;
  }
}
