:root{
    --color-gris: #424242;
    --azul-clarito: #E0F4FB;
    --color-light: rgba(132,139,200,0.18);
    --color-background: #f6f6f9;
    --azul-oscuro: #48BFE3;
}

.claseSubirImagen{
    display: grid;
    grid-template-columns: 14rem auto;
    height: 100vh;
    overflow-y: scroll;
}

.ezkerra .cerrar {
   height: 100vh; 
}

.ezkerra{
    height: 100vh;
}

.eskuina{
    background-color: var(--color-background);
    padding: 3rem;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
/*APARTADO SELECCIONAR IMAGEN (SUBIR, SACAR)*/
.seleccionarImagen{
    display: flex;
    flex-direction: column;
    margin: 3rem;
    gap: 1rem;
    background-color: white;
    border-radius: 0.8rem;
    height: fit-content;
    padding: 2rem;
    max-width: calc(1167.2px + 6rem + 4rem);
    max-height: calc(999px + 6rem + 4rem);
}

.seleccionarImagen>h2{
    height: calc(10% - 1rem);
}

.añadirImagen{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,auto);
    gap: 1rem;
    height: fit-content;
}

.añadirImagen>h2{
    grid-column: span 2;
    height: calc(10% - 0.5rem);
}

.subir, .sacarFoto{
    border-radius: 0.8rem;
    background-color:white ;
    text-align: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 2px solid var(--azul-oscuro);
}

.sacarFoto{
    width: 100%;
    height: 100%;
}

.subir{
    position: relative;
}

.subir span, .sacarFoto, .botonPequeño{
    font-family: poppins, sans-serif;
    font-size: 18px;
}

.iconGrande{
    width: 5%;
    height: 100%;
}

.subir .iconGrande{
    margin-right: 1rem;
}
.subir:hover, .sacarFoto:hover{
    border: 3px solid var(--azul-oscuro);
}

.detallesDeFoto{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 50%;
}

.fotoElegida{
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 1rem;
    height: fit-content;
}

.imgPreview{
    width: 70%;
    height: 100%;
    border-radius: 0.8rem;
}
/*APARTADO FORM*/
.forma{
    display: grid;
    padding: 1rem;
    gap: 1rem;
    background-color: white;
    border-radius: 0.8rem;
    justify-content: stretch;
    justify-items: center;
    align-items: center;
    width: 50%;
    box-shadow: var(--box-shadow);
    max-width: 852px;
    max-height: 606px;
    min-height: 606px;

}

.formNoticia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.formNoticia h1{
    grid-column: span 2;
}

.url{
    grid-column: span 2;
    width: 100%;
    display:  flex;
    justify-content: center;
}

.url > input{
    width: 60%;
}

.oculto{
    display: none;
}

.botonPequeño{
    background-color: white;
    border-radius: 0.8rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--azul-oscuro);
    margin-left: 1rem;
}

.icon{
    width: 80%;
    height:70%;
}



.inputClass{
    background-color: white;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid var(--azul-oscuro);
}

.formImagen, .formLugar{
    display: flex;
    align-items: center;
}

.inputClass:focus{
    outline: none;
}

.dropdown, .dropdown:focus{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
}

.formNuevoLugar{
    display: flex;
    flex-direction: column;
    grid-column: 1;
}

.foto{
    position: relative;
    display: inline-block;
    width: 70%;
    height: 40%;
    border: 1px solid var(--azul-oscuro);
    background-color: white;
    color: black;
    border-radius: 3px;
}

#fileSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

input[type=file]{
    opacity: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.foto{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px;
}

.panelBotones{
    display: flex;
    gap: 2rem;
    grid-column: span 2;
    margin-bottom: 0.3rem;
    justify-content: center;
}

.largo{
    width: 100%;
}

.span2{
    grid-column: span 2;
}

.panelBotones>svg{
    height: 2rem;
    width: 2rem;
    text-align: end;
    margin: 0;
}

.photos, .gallery, .accept, .cancel{
    background-color: var(--azul-oscuro);
    border-radius: 2rem;
    width: fit-content;
    height: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border: none;
    font-family: 'Candara', sans-serif;
    font-size: 18px;
}

.accept{
    background-color: lightgreen;
}
.cancel{
    background-color: red;
}

.photos svg, .gallery svg{
    color: white;
    margin-top: 0;
}

.botonesEvento{
    justify-content: center;
    grid-column: span 1;
}


label{
    font-family: 'Candara', sans-serif;
    font-size: 20px;
    margin-right: 1rem;
}

aside{
    height: 100vh;
}

.close{
    background-color: #f6f6f9;
}

/*** CREAR NOTICIA ***/

.noticia{
    margin-left: 2rem;
    padding-left: 5rem;
}

.noticia input{
    width: calc(100% - 1rem);
    margin-top: 1rem;
}

/*** CREAR EVENTO ***/
.evento{
    margin: 1.4rem 2rem 1.4rem 5rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: space-between;
    align-self: center;
}

.fechaHora {
    display: flex;
    gap: 2rem;
}

.infoEvento{
    background-color: white;
    margin: 2rem;
    border-radius: 0.8rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
    width: 80%;
    align-items: center;
    align-self: center;
    justify-self: center;
    min-width: calc(575.3px + 4rem);
    max-width: calc(943.5px + 8rem);
}

.infoEvento p{
    width: 100%;
    text-align: justify;
    margin-top: 1rem;
    margin-left: 0;
}

.infoEvento img{
    width: 40%;
    height: 80%;
    border-radius: 0.8rem;
    grid-row:3;
    justify-self: center;
}

.detalles{
    display: flex;
    gap: 2rem;
    grid-row: 2;
    justify-content: center;
}

/*** QUERIES ***/

@media screen and (max-width: 1557px){
    .formNoticia{
        grid-template-columns: 1fr;
    }

    .panelBotones, .url, .formNoticia h1{
        grid-column: span 1;
    }

    .imgPreview{
        width: 100%;
        height: 100%;
    }

    .fotoElegida{
        height: 70%;
    }

    .sacarFoto, .subir{
        min-width: calc(371.2px + 2rem + 2px);
        max-height: calc(54px + 2rem + 2px);
    }

    .subir>input{
        padding: 1.5rem;
    }

    .subir{
        padding: 0;
    }

    .añadirImagen{
        grid-template-columns: auto;
        grid-template-rows: repeat(6,auto);
    }

    .añadirImagen > h2{
        grid-column: 1;
    }

    .seleccionarImagen{
        height: fit-content;
    }

}

@media screen and (max-width: 1179px){
    
    aside{
        height: calc(100vh - 2rem);
    }

    .fechaHora {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .forma{
        width: fit-content;
    }

    .eskuina{
        padding: 0 3rem;
    }

    .infoEvento img{
        width: 60%;
    }

    .subir>input{
        padding: 1.3rem;
    }
}

@media screen and (max-width:1100px) {
    .claseSubirImagen{
        grid-template-columns: 4rem auto;
    }
}

@media screen and (max-width: 800px){
    .claseSubirImagen{
        display: grid;
        grid-template-columns: auto;
        width: 100%;
    }

    .seleccionarImagen{
        margin: 3rem 0;
        padding: 1rem 0;
    }

    aside .close button{
        display: inline !important;
        margin-top: 2rem;
        color: #E0F4FB;
    }

    .ezkerra{
        height: 0;
    }
    .close{
        background-color: var(--color-gris);
    }
    .noticia{
        padding-left: 0;
    }

    aside{
        height: 100%;
    }

    .forma{
        width: 70%;
        min-width: 400px;
        align-items: center;
        margin: 2.5rem 0 2rem 0;
    }

    .eskuina{
        width: 100%;
        padding: 3rem 0 0 0;
    }

    .evento{
        margin: 2.5rem 0 2rem 0;
    }

    .infoEvento{
        margin: 6rem 1rem 1rem 1rem;
        min-width: calc(345px - 6rem);
        padding: 3rem 1rem;
    }

    .tituloEvento{
        text-align: center;
    }

    .detalles{
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }

    .infoEvento img{
        width: 90%;
        height: 90%;
    }

    .botonesEvento{
        flex-direction: column;
        align-items: center;
    }
}



