.floatingButton {
  border-radius: 4rem;
  font-size: 2rem;
  background-color: var(--secondary);
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border: none;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floatingButton:hover {
  filter: brightness(90%);
  cursor: pointer;
}