/******************** Configuracion global *****************/
@font-face
{
    src: url(../Estilos/FontCCBold.ttf);
    font-family: fontCCBold;
}
@font-face
{
    src: url(../Estilos/FontCCLight.ttf);
    font-family: fontCCLight;
}
@font-face
{
    src: url(../Estilos/FontCCMedium.ttf);
    font-family: fontCCMedium;
}

:root
{
   /*==== Variables ====*/
   --header-height: 3rem;

   /*==== Colors ====*/
   --color_muy_azul_claro: #edebfd;
   --color_blanco: #fcf8f8;
   --color_azul_claro: #a296cf;
   --color_azul_muy_oscuro: #6958BB;
   --color_azul: #896eff;
   /*==== Font ====*/
   --big-font-size: 2.5rem;
   --big-font-size-computer: 3.4rem;
   --normal-font-size: 1.3rem;
   --smal-font-size: 1rem;

   /*==== z index ====*/
   --z-fixed: 100;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/********************  Imagen Fondo ************************/
body
{
    width: 100%;
    height: 100vh;
    /*overflow: hidden;   */
}

.imagenDeFondo
{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("../Imagenes/recogida.jpg");
    background-size:cover;
    background-position: 75% 100%;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
    
}

#landingPage{
  overflow: hidden;
}

/********************  Nav Bar  **************************/
ul
{
    padding: 0;
    list-style: none;
}

a
{
    text-decoration: none;
}

.bd-grid{
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 8rem);
    margin-left: 4rem;
    margin-right: 4rem;
  }
  
  .l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color:  transparent;
    transition: ease 1s;
  }
  
  /*===== NAV =====*/
  .nav{
    height: var(--header-height);
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

  .active-nab
  {
    background-color: var(--color_blanco) !important;
    transition: ease 1s;
    box-shadow: rgba(17, 16, 17, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  
  @media screen and (max-width: 768px){
    .nav__menu{
      position: fixed;
      top: 0;
      right: -100%;
      width: 70%;
      padding: 3.5rem 1.5rem 0;
      background: rgba(255,255,255,.3);
      backdrop-filter: blur(10px);
      transition: .5s;
    }
  }
  
  .nav__close{
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .nav__item{
    margin-bottom: 2rem;
  }
  

  .dropDown li {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
  }

  .itemIdioma:hover,
  .dropDown li:hover {
    opacity: 1;
    visibility:visible;
  }


  .nav__close, .nav__link, .nav__logo, .nav__toggle{
    color: var(--color_azul_muy_oscuro);
  }

  .nav__logo
  {
    font-size: 2.5rem;
  }

  .nav__link
  {
    font-family: fontCCLight;
    font-weight: bolder;
    transition: ease 0.3s;
    position: relative;
    font-size: 1.3rem;

  }
  .nav__link::after
  {
    content: " ";
    position: absolute;
    bottom: -4px;
    left: calc(50% + 3px);
    width: 0%;
    height: 1.6px;
    background-color: var(--color_azul);
    transition: ease-out 0.4s;
  }
  .nav__link:hover::after
  {
    left: -3px;
    width: calc(100% + 6px);
  }
  .nav__link:hover{
    color: var(--color_azul);
  }
  
  .nav__toggle{
    font-size: 2rem;
    cursor: pointer;
  }

  .show{
    right: 0;
    height: 100vh;
  }
  
  
@media screen and (min-width: 768px){
    body{
      margin: 0;
    }
    
    .nav{
      height: calc(var(--header-height) + 1.5rem);
    }
  
    .nav__toggle, .nav__close{
      display: none;
    }
  
    .nav__list{
      display: flex;
    }

    .nav__link
    {
        font-size: 1.3rem;
    }
  
    .nav__item{
      margin-left: 4.5rem;
      margin-bottom: 0;
    }  
}
  
@media screen and (min-width: 1024px){
    .bd-grid{
    margin-left: auto;
    margin-right: auto;
    }

    .nav__link
    {
        font-size: 1.3rem;
    }
}

.contenido
{
  width: 45%;
  height: 100%;
  margin-left: 4rem;
  margin-top: 120px;
}

.contenido h3
{
  color: var(--color_azul_muy_oscuro);
  font-family: fontCCBold;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 1px;
}
.contenido p
{
  color: var(--color_azul_claro);
  font-family: fontCCMedium;
  font-weight: 100;
  font-size: 17px;
  margin-bottom: 40px;
  letter-spacing: 1px;

}
.contenido span
{
  color: var(--color_azul);
  font-family: fontCCLight;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.contenido button
{
  background-color: var(--color_azul);
  color: var(--color_blanco);
  font-family: fontCCLight;
  font-size: 1.2rem;
  padding: 1.125rem 2rem;
  border-radius: .5rem;
  transition: ease-out 0.7s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
  transition: ease 1s;
}
.contenido button:hover
{
  background-color: var(--color_azul_muy_oscuro);
  transition: ease 1s;
}
.espera
{
  visibility: hidden;
}

box-icon
{
  position: absolute;
  top: 15px;
  right: 2rem;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 768px){
  .contenido
  {
    width: calc(100% - 4rem);
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: center;
    align-items: top;
    height: calc(100vh - 10rem);
    z-index: 1;
    background-color: rgb(255 255 255 / 0.9);
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-rows: 15% 30% 40% 15%;
    padding: 30px;
  }

  .contenido span
  {
    margin-bottom: 0px;
  }
  .contenido h3
  {
    margin-bottom: 0px;
  }
  .contenido p
  {
    margin-bottom: 0px;
  }
  .contenido button
  {
    margin-bottom: 0px;
    margin-left: 20%;
    margin-right: 20%;
  }
  


  .bd-grid
  {
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
  }
}